// ============================================= 
//              Banner                           
// ============================================= 

.banner {
    color: $white;
    padding: em(51px) 0;
    background: $black url($path--rel+'/13.jpg') no-repeat bottom;
    background-size: cover;

    @include mq(tablet) {
        padding: em(160px) 0;
        // remove gap between header and banner
        margin-top: em(-7px);
    }
}