// ============================================= 
//              Footer                           
// ============================================= 

.main-footer {
    color: $white;

    padding: em(32px);
    background-color: $black;
}