// ============================================= 
//              Sections                     
// ============================================= 

.products,
.sponsors {

    .row {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.sponsors {
    background-color: $white;
}

.about {

    p {
        font-size: em(20px);
    }

    img {
        margin-bottom: em(30px);
    }

}