// ============================================= 
//              Slick Plugin                    
// ============================================= 

.slick-track {
    @include flexbox($align: center);
}

.slick-prev {
    left: 25px;
    z-index: 999;
}

.slick-next {
    right: 25px;
    z-index: 999;
}

.slick-prev::before,
.slick-next::before {
    color: $black;
    font-size: 30px;
    padding-right: 0.5em;
}