// ============================================= 
//              Buttons                       
// ============================================= 

.btn {
    @extend %btn;
    margin-top: em(15px);
    padding: em(10px) 0;
    background-color: palette(color-primary);

    &:hover {
        background-color: palette(color-primary, dark);
    }

    @include mq(tablet) {
        padding: em(10px) em(30px);
    }
}