// ============================================= 
//              Buttons                       
// ============================================= 

.btn {
    @extend %btn;
    width: 100%;
    margin-top: em(15px);
    padding: em(12px) em(19px);
    background-color: $black;

    &:hover {
        background-color: lighten($black, 15%);
    }

    @include mq(tablet) {
        width: 25%;
        padding: em(10px) em(30px);
    }
}