// ============================================= 
//              Buttons                       
// ============================================= 

.btn {
    @extend %btn;
    margin-top: em(15px);
    background-color: $color-primary;

    &:hover {
        background-color: lighten($color-primary, 5%);
    }

    @include mq(tablet) {
        width: 25%;
    }
}