// ============================================= 
//              Images                           
// ============================================= 

.img {

    @include elem(logo) {
        display: block;

        @include mq(tablet) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include elem(radius) {
        @extend %img-disp;
        border-radius: $br--default;
        margin-bottom: em(20px);
    }

    @include elem(sponsor) {
        max-height: em(40px);
    }
}